<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6">
                <% if(!item.readonly_allowed) { %>
                NEW/EDIT MINI GOAL
                <% } else { %>
                MINI GOAL
                <% } %>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    
                     <% if(!item.readonly_allowed) { %>
                        <button  title="Save" id="save"  type="button" class="btn btn-success">
                            <span  class="glyphicon glyphicon-saved"> </span>
                        </button>

                        <button  title="Save & Close" id="save_close"  type="button" class="btn btn-success">
                            <span  class="glyphicon glyphicon-ok"> </span>
                        </button>

                        <button  title="Cancel" id="cancel"  type="button" class="btn btn-warning">
                            <span  class="glyphicon glyphicon-remove"> </span>
                        </button>

                        <% if(item.id && item.status == app.options.statuses.PENDING_GOAL_STATUS.id) { %>
                            <button  title="Finalize Mini Goal" id="finalise_mini_goal"  type="button" class="btn btn-default">
                                <span  class="glyphicon glyphicon-thumbs-up"> </span>
                            </button>
                        <% } %>

                    <% } else { %>
                        <button  title="Close" id="cancel"  type="button" class="btn btn-warning">
                            <span  class="glyphicon glyphicon-remove"> </span>
                        </button>
                    <% } %>
                    
                    <button  title="Schedule Mini Goal"   type="button" class="btn btn-default schedule_mini_goal">
                        <span  class="glyphicon glyphicon-time"> </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <form action="" id="add_goal_form">
            <div class="form-horizontal">
                <div class="form-group">
                    <label  class="col-xs-2">Mini Goal </label>
                    <div class="col-xs-3">
                        <% if(!item.readonly_allowed) { %>
                              <div id="mini_goal_wrapper"></div>
                        <% } else { %>
                            <%= item.mini_goal_name  || '-' %>
                        <% } %>
                    </div>
                </div>
                
                <div class="form-group">
                    <label  class="col-xs-2">Training Period</label>
                    <div class="col-xs-3">
                        <% if(!item.readonly_allowed) { %>
                              <div id="training_period_wrapper" ></div>
                        <% } else { %>
                            <%= item.training_period_name  || '-' %>
                        <% } %>
                    </div>
                </div>

                <div class="form-group">
                    <label  class="col-xs-2">Start Date </label>
                    <div class="col-xs-3">
                        <% if(!item.readonly_allowed) { %>
                            <input type="text" name="start_date" id="start_date" class="required input-medium" value="<%= item.start_date %>">
                        <% } else { %>
                            <%
                            var d1 = new Date(Date.parse(item.start_date));            
                            var start_date = moment(d1).format("dddd, D MMMM  YYYY");      
                            %>
                            <%= start_date %>
                        <% } %>
                        <div id="error_start_date" class="error_message"></div>
                    </div>
                </div>

                <div class="form-group">
                    <label  class="col-xs-2">Achieve By</label>
                    <div class="col-xs-3">
                         <% if(!item.readonly_allowed) { %>
                            <input  type="text" name="deadline" id="deadline" class="required input-medium" value="<%= item.deadline %>">
                        <% } else { %>
                            <%
                            var d1 = new Date(Date.parse(item.deadline));            
                            var deadline = moment(d1).format("dddd, D MMMM  YYYY");      
                            %>
                            <%= deadline %>
                        <% } %>
                        <div id="error_deadline" class="error_message"></div>
                    </div>
                </div>

                <% if(parseInt(item.id)) { %>
                    <div class="form-group">
                        <label  class="col-xs-2">Status</label>
                        <div class="col-xs-3">
                            <div id="status_button_place_mini_<%= item.id %>"  ></div>
                        </div>
                    </div>
                <% } %>

                <div class="form-group">
                    <label  class="col-xs-2">Goal Details</label>
                    <div class="col-xs-8">
                        <% if(!item.readonly_allowed) { %>
                            <label>Please describe in as much detail as possible the results you envision for your client and what it is you wish to achieve...</label>
                            <textarea style="width:100%;" name="details" id="details" rows="4" cols="80" class="required"><%= item.details %></textarea> 
                        <% } else { %>
                            <%= item.details %>
                        <% } %>
                    </div>
                </div>
            </div>
        </form>
        
        <div class="row">&nbsp;</div>
        
        <div id="comments_block"></div>
    </div>
</div>
