<div class="row">&nbsp;</div>

<div class="row-fluid">
    <select name="list_type" id="list_type" class="input-large pull-right">
        <option value="current">Current/Future Goals</option>
        <option value="previous">Previous Goals</option>
        <option value="current_primary_goal">Currrent Primary Goal</option>
        <option value="0">All Goals</option>
    </select> 
</div>

<div class="row-fluid ">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span>Primary Goals</span>
            <span class="pull-right">Mini Goals</span>
        </div>
        <div class="panel-body" id="items_container">

        </div>
        
        <div class="panel-footer">
            <a title="New Primary Goal" id="new_primary_goal" class="btn btn-success btn-small" role="button">
                <span class="glyphicon glyphicon-plus"> </span>
            </a>
        </div>
    </div>
</div>
<br/>
<div style="text-align:center;" id="pagination_container"></div>
