<div class="col-md-5">
    <div class="form-horizontal">
        <div class="form-group">
            <label  class="col-xs-4">Primary Goal </label>
            <div class="col-xs-8">
                <%= item.primary_goal_name %>
            </div>
        </div>
        
        <div class="form-group">
            <label  class="col-xs-4">Start Date</label>
            <div class="col-xs-8">
                <%
                var d1 = new Date(Date.parse(item.start_date));            
                var start_date = moment(d1).format("dddd, D MMMM  YYYY");      
                %>
                <%= start_date %>
            </div>
        </div>
        
        <div class="form-group">
            <label  class="col-xs-4">Achieve By</label>
            <div class="col-xs-8">
                <%
                    var d2 = new Date(Date.parse(item.deadline));            
                    var deadline = moment(d2).format("dddd, D MMMM  YYYY");      
                %>
                <%= deadline %>
            </div>
        </div>
        
        <div class="form-group">
            <label  class="col-xs-4">Status</label>
            <div class="col-xs-8">
                <div id="status_button_place_<%= item.id %>"  ></div>
            </div>
        </div>
        
        <div class="form-group">
            <label  class="col-xs-4">Goal Details</label>
            <div class="col-xs-8">
                <%= item.details %>
            </div>
        </div>
    </div>
</div>

<div class="col-md-1" >
    <% if(item.state != '-2') { %>
        <a title="View/Edit" class="view " ><span  data-id="<%= item.id %>"  class="glyphicon glyphicon-file"></span></a>
    <% } else { %>
        <a title="Restore" class="restore " ><span  data-id="<%= item.id %>"  class="restore_icon"></span></a> 
    <% } %>

    <% if(app.options.statuses.PENDING_GOAL_STATUS.id == item.status  && item.state == '1') { %>
        <br/><br/>
        <button data-id="<%= item.id %>"  title="Finalize Primary Goal"  type="button" class="btn btn-default submit_primary_goal">
            <span  class="glyphicon glyphicon-thumbs-up"> </span>
        </button>
     <% } %>
     
    <br/>
    <br/>
    <% 
    var icon_class = 'glyphicon glyphicon-remove-circle';
    var publish_title = 'Publish'; 
    if(parseInt(item.state) == '1') {
        icon_class = 'glyphicon glyphicon-ok-circle';
        publish_title = 'Unpublish'; 
    }
    %>
    <% if(item.state != '-2') { %>
    <a title="<%= publish_title %>"  class="publish_primary"   ><span data-id="<%= item.id %>" data-state="<%= item.state %>" class="<%= icon_class %>"></span></a>
    <% } %>

    <br/><br/>
    <% if(item.state != '-2') { %>
        <a class="trash" ><span title="Trash" data-id="<%= item.id %>" class="glyphicon glyphicon-trash"></span></a>
    <% } else { %>
        <a class="delete_primary_goal" ><span title="Delete" data-id="<%= item.id %>" class="glyphicon glyphicon-trash"></span></a>
   <% } %>

    
</div>


<div class="col-md-6 minigoals_wrapper" >
    
</div>


