<div  class="row-fluid form-inline" role="form">
    <input id="start_from" size="10" type="text" placeholder="Start From" class="input-medium">
    <input id="start_to" size="10" type="text" placeholder="Start To" class="input-medium">
    <input id="end_from" size="10" type="text" placeholder="End From" class="input-medium">
    <input id="end_to" size="10" type="text" placeholder="End To" class="input-medium">

    <div class="btn-group">
        <button id="search" type="button" class="btn" title="Search"><i class="icon-search"></i></button>
        <button id="clear_all" type="button" class="btn" title="Clear All"><i class="icon-remove"></i></button>
    </div>

    <div style="display: inline-block;" id="status_wrapper"></div>

    <div style="display: inline-block;" id="state_wrapper"></div>

    <div class="pull-right">
        <button  title="New Primary Goal" id="add_item"  type="button" class="btn btn-success">
            <span  class="glyphicon glyphicon-plus"> </span>
        </button>
    </div>
</div>


