<div class="container pull-left">
    <div class="row-fluid">
        <div class=" pull-right">
            <% if(parseInt(id)) { %>
            <% if(edit_allowed) { %>
            <button  title="Save" id="save"  type="button" class="btn btn-success">
                <span  class="glyphicon glyphicon-saved"> </span>
            </button>
            <% } %>
            <% } else { %>
            <button  title="Next" id="save"  type="button" class="btn btn-success">
                <span  class="glyphicon glyphicon-circle-arrow-right"> </span>
            </button>
            <% } %>


            <% if(parseInt(id)) { %>
            <% if(edit_allowed) { %>
            <button  title="Save & Close" id="save_close"  type="button" class="btn btn-success">
                <span  class="glyphicon glyphicon-ok"> </span>
            </button>
            <% } %>
            <button  title="Save As Copy" id="save_copy"  type="button" class="btn btn-default">
                <span  class="glyphicon glyphicon-floppy-disk"> </span>
            </button>
            <% if(edit_allowed) { %>
            <button  title="Save & New" id="save_new"  type="button" class="btn btn-success">
                <span  class="glyphicon glyphicon-plus"> </span>
            </button>
            <% } %>
            <button  title="Close" id="cancel"  type="button" class="btn btn-warning">
                <span  class="glyphicon glyphicon-remove"> </span>
            </button>

            <% } else { %>
            <button  title="Cancel" id="cancel"  type="button" class="btn btn-warning">
                <span  class="glyphicon glyphicon-remove"> </span>
            </button>
            <% } %>

        </div>
    </div>
</div>

<div class="row"></div>