<div class="form-inline">
    <div class="col-md-12">
        <b>SELECT ASSESSMENT RESULTS</b>
    
        <input id="date_from" size="15" type="text" placeholder="Date From" class="input-medium">

        <input id="date_to" size="15" type="text" placeholder="Date To" class="input-medium">

        <div class="btn-group">
            <button id="search_assessments" type="button" class="btn" title="Search"><i class="icon-search"></i></button>
            <button id="clear_assessments" type="button" class="btn" title="Clear All"><i class="icon-remove"></i></button>
        </div>

        <table width="80%" id="assessments_list_wrapper"></table>
    </div>
</div>

<div class="row"></div>
<hr>

<div class="row-fluid">
    <div class="col-md-3">
        <b>GENDER</b><br/>
        <div class="radio" style="margin-top:0;">
          <label><input checked="checked" type="radio" name="step1_gender" id="step1_gender_male" value="male"> Male</label>
        </div>

        <div class="radio">
          <label><input type="radio" name="step1_gender" id="step1_gender_female" value="female"> Female</label>
        </div>
    </div>
    <div class="col-md-3">
        <b>AGE</b><br/>
        <label><input class="input-mini" type="text" maxlength="2" size="2" name="step1_age" id="step1_age" value="<%= item.age %>">  Years</label>
    </div>
    <div class="col-md-3">
        <b>HEIGHT</b><br/>
        <label><input class="input-mini" type="text" maxlength="8" size="8" name="step1_height" id="step1_height" value="<%= item.height %>">cm</label>
    </div>
    <div class="col-md-3">
        <b>WEIGHT</b></br>
        <label><input class="input-mini" type="text" maxlength="8" size="8" name="step1_weight" id="step1_weight" value="<%= item.weight %>">  kg</label>
    </div>
</div>

<hr>

<div class="row-fluid">
    <div class="col-md-4">
        <b>FORMULA</b>
        <br/>
        
        <div class="radio" >
          <input checked="checked" type="radio" name="step1_formula" id="step1_formula_lean" value="lean">
            <span title="&lt;p&gt;The Mifflin-St Jeor formula is touted by that American Dietetic Association as the most accurate method for TDEE Calculation.&lt;P&gt;This formula bases protein needs off of total mass and is best suited for athletes or those with lower body fat levels. Overweight individuals should not use this formula as it will give them too much protein and strip them of carbohydrates in the final calcualtions.&lt;/p&gt;
                &lt;p&gt;&lt;P&gt;&lt;br /&gt;
                &lt;strong&gt;How to calculate for Men&lt;/strong&gt;&lt;br /&gt;
                10 x weight (kg) + 6.25 x height (cm) &ndash; 5 x age (y) + 5&lt;br /&gt;
                &lt;P&gt;&lt;br /&gt;
                &lt;strong&gt;How to calculate for Women&lt;/strong&gt;&lt;br /&gt;
                10 x weight (kg) + 6.25 x height (cm) &ndash; 5 x age (y) &ndash; 161&lt;/p&gt;
                " class="formula">Athletes Formula (best for lean people)
            </span>
        </div>
        
        <div class="radio" >
            <input type="radio" name="step1_formula" id="step1_formula_overweight" value="overweight">
            <span title="&lt;p&gt;A variation of the Mifflin-St Jeor equation which is more accurate for those who are who know their body fat percentage. This formula will base your protein needs off of your lean mass rather than your total mass. Ideal for those that have higher levels of body fat. Idea for those that are overweight.&lt;br /&gt;
                &lt;P&gt;&lt;br /&gt;
                &lt;strong&gt;Calculations are the same for both Men &amp; Women&lt;/strong&gt;&lt;br /&gt;
                21.6 * Lean Body Mass (kg) + 370&lt;/p&gt;
                " class="formula">Lean Mass Formula (best if overweight)
            </span>
        </div>
    </div>
    <div class="col-md-4">
        <b>EXERCISE LEVEL</b> <br/>
        <select id="exercise_level" name="exercise_level" >
            <option data-water="0" value="1.0">Basal Metabolic Rate</option>
            <option data-water="0.5" class="hilite" value="1.2">No exercise (desk job/couch potato)</option>
            <option data-water="0.56" value="1.375" selected="selected">3 times/week</option>
            <option data-water="0.56" class="hilite" value="1.4187">4 times/week</option>
            <option data-water="0.62" value="1.4625">5 times/week</option>
            <option data-water="0.62" class="hilite" value="1.5063">6 times/week</option>
            <option data-water="0.68" class="hilite" value="1.550">5 times/week (*intense)</option>
            <option data-water="0.68" value="1.6375">Every day</option>
            <option data-water="0.75" class="hilite" value="1.725">Every day (*intense) or twice daily</option>
            <option data-water="0.75" value="1.9">Daily exercise + physical job</option>
        </select>

        <br/>

        <b>CURRENT BODY FAT</b> <br/>
        <input type="text" maxlength="8" size="8" name="step1_body_fat" id="step1_body_fat" value="<%= item.body_fat %>" class="input-mini"> 
        %

        <br/>
        <b>CLIMATE</b> <br/>
        <select id="climate">
            <option value="0">Temperate</option>
            <option value="473.1764">Tropical</option>
            <option value="236.5882" >Cold</option>
        </select>
    </div>
    <div class="col-md-4">
        <div style="width: 250px;height: auto;display: inline-block;" class="well">
            <div class="row">
                <div class="col-xs-4">
                    <b>BMR</b>  
                </div>
                <div class="col-xs-4">
                    <input class="input-mini" readonly type="text" maxlength="8" size="8" name="step1_bmr" id="step1_bmr" value="<%= item.BMR %>">
                </div>
                <div class="col-xs-4">
                    calories/day
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-4">
                    <b>TDEE</b>  
                </div>
                <div class="col-xs-4">
                    <input class="input-mini" readonly type="text" maxlength="8" size="8" name="step1_tdee" id="step1_tdee" value="<%= item.TDEE %>">
                </div>
                <div class="col-xs-4">
                    calories/day
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pull-right">
    <input class="btn btn-primary" id="step1_claculate" type="button" value="CALCULATE TDEE">
</div>

