<% if(options.show_arrow) { %>
    <hr style="margin-left:50px;"  />
<% } else { %>
    <hr>
<% } %>
<div  class="comment_wrapper">
   <table width="100%">
        <tr>
            <td>
            </td>

            <td width="33%"><b>Comment by: </b><span class="comment_by"><%= item.created_by_name %></span></td>
            <td width="33%"><b>Date: </b> <span class="comment_date"></span><%= moment(new Date(Date.parse(item.created))).format("ddd, D MMM  YYYY") %></td>
            <td><b>Time: </b> <span class="comment_time"><%= moment(new Date(Date.parse(item.created))).format("HH:mm")  %></span></td>

            <td>
                <% if(edit_mode) { %>
                <a title="Save Comment" class="save_parent_comment btn btn-default btn-small" role="button"  style="cursor: pointer;" onclick="javascript:void(0)">
                    <span  class="glyphicon glyphicon-ok"> </span>
                </a>
                
                <% } else { %>
            
                <a title="Edit Comment" class="edit_parent_comment btn btn-default btn-small" role="button"  style="cursor: pointer;display:none;" onclick="javascript:void(0)">
                        <span  class="glyphicon glyphicon-pencil"> </span>
                    </a>
                <% } %>
            </td>
            
            <% if(options.show_delete) { %>
            <td align="center">
                <a title="Delete Comment" class="delete_child_comment btn btn-default btn-small" role="button"  style="cursor: pointer;display:none;" onclick="javascript:void(0)">
                    <span  class="glyphicon glyphicon-trash"> </span>
                </a>
            </td>
            <% } %>
        </tr>
        <tr>
            <% if(options.show_arrow) { %>
            <td>
                <div class="chat_image"></div>
            </td>
            <% } %>
            
            <td colspan="5">
            <% if(edit_mode) { %>
                <textarea  class="comment_textarea"  rows="3"><%= decodeURIComponent(item.comment) %></textarea>
            <% } else { %>
            <span class="grey_title"><%= decodeURIComponent(item.comment) %></span>
            <% } %>
            </td>
        </tr>
    </table>
    <div class="clr"></div>
</div>
