<div class="form-horizontal">
    <div class="form-group">
        <label  class="col-xs-4">Business Name</label>
        <div class="col-xs-8" id="business_name_select">
        </div>
    </div>
    
    <% if(id) { %>
        <div class="form-group">
            <label  class="col-xs-4">Author</label>
            <div class="col-xs-8">
                <%= created_by_name %>
            </div>
        </div>
    <% } %>
    
    <div class="form-group">
        <label  class="col-xs-4">Trainer Name</label>
        <div class="col-xs-8" id="trainer_select">
        </div>
    </div>
</div>

