<div class="form-horizontal">
    <div class="form-group">
        <label  class="col-xs-4">Appointment</label>
        <div class="col-xs-8" id="appointment_select">
        </div>
    </div>
    
    <div class="form-group">
        <label  class="col-xs-4">Session Type</label>
        <div class="col-xs-8" id="session_type_select">
        </div>
    </div>
    
    <div class="form-group">
        <label  class="col-xs-4">Session Focus</label>
        <div class="col-xs-8" id="session_focus_select">
        </div>
    </div>
    
    <div class="form-group">
        <label  class="col-xs-4">Start Date/Time</label>
        <div class="col-xs-8">
            <%
            var start_date = '';
            if(starttime) {
                start_date = starttime.substring(0,10);
            }
            %>
            <input class="input-medium"  name="start_date" id="start_date" size="12" type="text" value="<%= start_date  %>">
            <%
            var start_time = '';
            if(starttime) {
                start_time = starttime.substring(10,16);
            }
            %>      
            <input class="input-mini" style="margin-left: 10px;"  size="5" type="text" name="start_time" id="start_time"  value="<%= start_time  %>">
        </div>
    </div>
    
    <% if(id) { %>
        <div class="form-group">
            <label  class="col-xs-4">Finish Date/Time</label>
            <div class="col-xs-8">
                 <%
                var finish_date = '';
                if(endtime) {
                    finish_date = endtime.substring(0,10);
                }
                %>
                <input class="input-medium"  name="finish_date" id="finish_date" size="12" type="text" value="<%= finish_date %>">
                <% 
                var finish_time = '';
                if(endtime) {
                    finish_time = endtime.substring(10,16);
                }  
                %>
                <input class="input-mini" style="margin-left: 10px;"  size="5" type="text" name="finish_time" id="finish_time"  value="<%= finish_time  %>">
            </div>
        </div>
    <% } else { %>
        <input  name="finish_date" id="finish_date" type="hidden">
        <input type="hidden" name="finish_time" id="finish_time">
    <% } %>
    
    <div class="form-group">
        <label  class="col-xs-4">Location</label>
        <div class="col-xs-8" id="location_select">
            
        </div>
    </div>
    
    <div class="form-group">
        <label  class="col-xs-4">Publish Workout</label>
        <div class="col-xs-1">
            <%
            var frontend_published_checked = '';
            if(parseInt(frontend_published)) {
                frontend_published_checked = 'checked';
            }
            %>
            <input type="checkbox" name="frontend_published" id="frontend_published"  value="1" <%= frontend_published_checked %>  />
        </div>
        <label  class="col-xs-3">Auto Publish Workout on</label>
        <div class="col-xs-4">
            <input class="input-medium" type="text" name="auto_publish_workout" id="auto_publish_workout" size="12"  value="<%= auto_publish_workout %>" />
        </div>
    </div>
    
    <div class="form-group">
        <label  class="col-xs-4">Publish Event</label>
        <div class="col-xs-1">
            <%
            var published_checked = '';
            if(parseInt(published)) {
                published_checked = 'checked';
            }
            %>
            <input type="checkbox" name="published" id="published"  value="1" <%= published_checked %>/>
        </div>
        <label  class="col-xs-3">Auto Publish Event on</label>
        <div class="col-xs-4">
            <input class="input-medium" type="text" name="auto_publish_event" id="auto_publish_event" value="<%= auto_publish_event %>" />
        </div>
    </div>
</div>
