<div class="row">&nbsp;</div>

<div class="container pull-left">
    <div class="row-fluid ">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">APPOINTMENT & PROGRAM DETAILS</div>
                <div class="panel-body" id="details_wrapper">
                    
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">TRAINER</div>
                <div class="panel-body" id="trainer_data_wrapper">
                    
                </div>
            </div>
            
            <div class="panel panel-primary">
                <div class="panel-heading">CLIENTS</div>
                <div class="panel-body" id="clients_data_wrapper">
                    
                </div>
            </div>
        </div>
    </div>
    
    <div class="row-fluid">
        <div class="col-md-12" id="textbox_wrapper">
            
        </div>
    </div>
    
    <div class="row-fluid">
        <div class="col-md-12"  id="exercises_list">
            
        </div>
    </div>
    
    <div class="row-fluid">
        <div class="col-md-12"  id="comments_block">
            
        </div>
    </div>
</div>
