<div  id="protocol_wrapper_<%= id %>"  class="panel panel-default protocol_wrapper ">
    <div class="panel-heading">
        <div class="row-fluid">
            <div class="col-md-2">
                <label><b>PROTOCOL NAME</b></label>
            </div>
            <div class="col-md-8">
                <input  size="71" type="text"  class="protocol_name"  value="<%= name %>">
            </div>
            <div class="col-md-2">
                <div class="pull-right">
                    <button data-id="<%= id %>" title="Save" class="btn btn-success save_protocol" >
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>

                    <button data-id="<%= id %>" title="Delete" class="btn btn-danger delete_protocol" >
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div id="supplements_list_<%= id %>" class="supplements_list"></div>
        
        <%  if(id) { %>
            <div class="row">&nbsp;</div>
            <button data-id="<%= id %>"  title="New Supplement" class="btn btn-success add_supplement" >
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <hr>
            <div class="comments_wrapper"></div>
        <% } %>
    </div>
</div>
