<div class="form-horizontal">
    <div class="form-group">
        <label  class="col-xs-4">Client Name</label>
        <div class="col-xs-8">
            <%= item.client_name %>
        </div>
    </div>
    
    <div class="form-group">
        <label  class="col-xs-4">Primary Trainer</label>
        <div class="col-xs-8">
            <%= item.trainer_name %>
        </div>
    </div>
    
    <div class="form-group">
        <label  class="col-xs-4">Secondary Trainers</label>
        <div class="col-xs-8">
            <%
            var secondary_trainers = item.secondary_trainers;
            _.each(secondary_trainers, function(item, key){ %>
                <%=  item + " <br/>" %>
            <%
            })

            %>
        </div>
    </div>
</div>
