<div class="form-horizontal">
    <div class="form-group">
        <label  class="col-xs-4">Primary Goal</label>
        <div class="col-xs-8">
            <%= item.primary_goal_name %>
        </div>
    </div>
    
    <div class="form-group">
        <label  class="col-xs-4">Start Date</label>
        <div class="col-xs-8">
            <%= moment(item.start_date_primary, "YYYY-MM-DD HH:mm:ss").format("ddd, D MMM  YYYY") %>
        </div>
    </div>
    
    <div class="form-group">
        <label  class="col-xs-4">Achieve By</label>
        <div class="col-xs-8">
            <%= moment(item.deadline_primary, "YYYY-MM-DD HH:mm:ss").format("ddd, D MMM  YYYY") %>
        </div>
    </div>
    
    <hr>
    
    <div class="form-group">
        <label  class="col-xs-4">Mini Goal</label>
        <div class="col-xs-8">
            <%= item.mini_goal_name %>
        </div>
    </div>
    
    <div class="form-group">
        <label  class="col-xs-4">Training Period</label>
        <div class="col-xs-8">
            <%= item.training_period_name %>
        </div>
    </div>
    
    <div class="form-group">
        <label  class="col-xs-4">Start Date (Active From)</label>
        <div class="col-xs-8">
            <%= moment(item.start_date_mini, "YYYY-MM-DD HH:mm:ss").format("ddd, D MMM  YYYY") %>
        </div>
    </div>
    
    <div class="form-group">
        <label  class="col-xs-4">End Date (Active To)</label>
        <div class="col-xs-8">
            <%= moment(item.deadline_mini, "YYYY-MM-DD HH:mm:ss").format("ddd, D MMM  YYYY") %>
        </div>
    </div>
    
    <hr/>
    
    <div class="form-group">
        <label  class="col-xs-6 control-label">Do you wish to OVERRIDE the dates above?</label>
        <div class="col-xs-1">
            <%
            var override_dates_checked = '';
            if(parseInt(item.override_dates)) {
            override_dates_checked = 'checked';
            }
            %>
            <input type="checkbox" name="override_dates" id="override_dates"  value="1" <%= override_dates_checked %>  />
        </div>
    </div>
    
    <div id="override_dated_area">
        <div class="form-group">
            <label  class="col-xs-4">Start Date / Active From</label>
            <div class="col-xs-3">
                <%
                var override_dates_checked = '';
                if(parseInt(item.override_dates)) {
                override_dates_checked = 'checked';
                }
                %>
                <input id="active_start" class="input-medium" type="text" value="<%= item.active_start %>" >
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-xs-4">Achieve By / Active To</label>
            <div class="col-xs-3">
                <input id="active_finish" class="input-medium" type="text" value="<%= item.active_finish %>" >
            </div>
            <div class="col-xs-5">
                <div class="input-group">
                    <div class="col-xs-2">
                        <input type="checkbox" name="no_end_date" id="no_end_date"  value="1"  />
                    </div>
                    <div class="col-xs-10">
                        <label class="control-label">NO END DATE (plan will not expire)</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <hr/>
        
    <div class="form-group">
        <div class="col-xs-4">
            Nutrition Plan Status
        </div>
        <div class="col-xs-8">
            <% if(item.id ==item.active_plan_id) { %>
                <span style="color:green;">ACTIVE</span>
            <% } else { %>
                <span style="color:red;">INACTIVE</span>
            <% } %>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-xs-4">
            Currently Forced Active
        </div>
        <div class="col-xs-8">
            <% if(parseInt(item.force_active)) { %>
                <span style="color:green;">YES</span>
            <% } else { %>
                <span style="color:red;">NO</span>
            <% } %>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-xs-4">
            Force Planner Active
        </div>
        <div class="col-xs-1">
             <%
            var force_active_checked = '';
            if(parseInt(item.force_active)) {
            force_active_checked = 'checked';
            }
            %>
            <input type="checkbox" name="force_active" id="force_active"  value="1" <%= force_active_checked %>  />
        </div>
        <div class="col-xs-7">
            <span class="glyphicon glyphicon-info-sign text-warning"></span>
            <span class="small text-muted">
                Nutrition Diary calorie and macronutrient calculations and based on values
                from the ACTIVE Nutrition Plan! <br/><br/>

                If this Nutrition Plan is set as “Forced Active”, it will remain the ‘Active’ Nutrition Plan
                until this setting has been disabled, or another Nutrition Plan is set as “Forced Active”.
            </span>
        </div>
    </div>
</div>
