<div id="form_menu"></div>

<div class="row">&nbsp;</div>

<div class="panel panel-primary">
    <div class="panel-heading">PROTEINS</div>
    <div class="panel-body">
        <textarea id="allowed_proteins" style="min-height:150px;width:98%;background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);padding:5px;" name="allowed_proteins"><%= decodeURIComponent(item.allowed_proteins) %></textarea>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">FATS</div>
    <div class="panel-body">
        <textarea id="allowed_fats" style="min-height:150px;width:98%;background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);padding:5px;" name="allowed_fats"><%= decodeURIComponent(item.allowed_fats) %></textarea>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">CARBOHYDRATES</div>
    <div class="panel-body">
        <textarea id="allowed_carbs" style="min-height:150px;width:98%;background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);padding:5px;" name="allowed_carbs"><%= decodeURIComponent(item.allowed_carbs) %></textarea>
    </div>
</div>


<div class="panel panel-primary">
    <div class="panel-heading">LIQUIDS</div>
    <div class="panel-body">
        <textarea id="allowed_liquids" style="min-height:150px;width:98%;background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);padding:5px;" name="allowed_liquids"><%= decodeURIComponent(item.allowed_liquids) %></textarea>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">OTHER RECOMMENDATIONS</div>
    <div class="panel-body">
        <textarea id="other_recommendations" style="min-height:150px;width:98%;background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);padding:5px;" name="other_recommendations"><%= decodeURIComponent(item.other_recommendations) %></textarea>
    </div>
</div>


<div id="macronutrients_comments_wrapper" style="width:100%"></div> 
