<div class="row-fluid">
    <div class=" pull-right">
        <button  title="Publish" id="publish_selected"  type="button" class="btn btn-info">
            <span  class="glyphicon glyphicon-ok-circle"> </span>
        </button>

        <button  title="Unpublish" id="unpublish_selected"  type="button" class="btn btn-warning">
            <span  class="glyphicon glyphicon-remove-circle"> </span>
        </button>

    </div>
</div>

<div class="row">&nbsp;</div>

<div  class="row-fluid form-inline" role="form">
    <input id="active_start_from" size="13" type="text" placeholder="Start Date (From)" class="input-medium" >
    <input id="active_start_to" size="13" type="text" placeholder="Start Date (To)" class="input-medium" >
    <input id="active_finish_from" size="13" type="text" placeholder="End Date (From)" class="input-medium">
    <input id="active_finish_to" size="13" type="text" placeholder="End Date (To)" class="input-medium" >

    <input id="client_name" size="13" type="text" placeholder="Client Name" class="input-medium">

    <div class="btn-group">
        <button id="search" type="button" class="btn" title="Search"><i class="icon-search"></i></button>
        <button id="clear_all" type="button" class="btn" title="Clear All"><i class="icon-remove"></i></button>
    </div>

    <div id="active_plan_wrapper" style="display:inline-block;"></div>
    <div id="force_active_wrapper" style="display:inline-block;"></div>
    <div id="state_wrapper" style="display:inline-block;"></div>
</div>
