<div id="daily_targets_container" class="well">
    <b>DAILY TARGETS & TOTALS</b>
   
    <table class="table table-bordered">
        <thead>
            <th></th>
            <th class="center">CALORIES</th>
            <th class="center">PROTEIN(grams)</th>
            <th class="center">FAT(grams)</th>
            <th class="center">CARBS(grams)</th>
            <th class="center">SUGAR(grams)</th>
        </thead>
        <tbody>
            <tr style="color:blue;">
                <td>
                    TODAYS TARGET
                </td>
                <td class="center">
                    <%= item.calories %>
                </td>
                <td class="center">
                    <%= item.protein %>
                </td>
                <td class="center">
                    <%= item.fats %>
                </td>
                <td class="center">
                    <%= item.carbs %>
                </td>
                <td>
                    
                </td>
            </tr>
            <tr style="color:green;">
                <td>
                    TODAYS TOTAL
                </td>
                <td class="center">
                    <%= item.calories_amount %>
                </td>
                <td class="center">
                    <%= item.protein_amount %>
                </td>
                <td class="center">
                    <%= item.fats_amount %>
                </td>
                <td class="center">
                    <%= item.carbs_amount %>
                </td>
                <td class="center">
                    <%= item.total_sugars_amount %>
                </td>
            </tr>
        </tbody>
    </table>
</div>

