<div id="daily_targets_wrapper">

</div>

<% if(menu_plan_model.status != '2' && menu_plan_model.status != '3') { %>
<div id="edit_bar" class="well">
    <div class="row">
        <div class="col-xs-2">
            <button  title="Save All" id="save_all " class="btn btn-success btn-small" >
                <span class="glyphicon glyphicon-saved"></span>
                <span class="glyphicon glyphicon-list-alt"></span>
            </button>
        </div>
        <div class="col-xs-2">
            <button  title="Edit All" id="edit_all " class="btn btn-warning btn-small" >
                <span class="glyphicon glyphicon-pencil">
                <span class="glyphicon glyphicon-list-alt"></span>
            </button>
        </div>
        <div class="col-xs-2">
            <button  title="Delete All" id="delete_all " class="btn btn-danger btn-small" >
                <span class="glyphicon glyphicon-trash">
                <span class="glyphicon glyphicon-list-alt"></span>
            </button>
        </div>
        <div class="col-xs-4">
            <div class="form-inline">
                <select id="copy_all_to" class="input-medium">
                    <option value="">-Copy All To-</option>
                    <option value="1">MENU DAY 1</option>
                    <option value="2">MENU DAY 2</option>
                    <option value="3">MENU DAY 3</option>
                    <option value="4">MENU DAY 4</option>
                    <option value="5">MENU DAY 5</option>
                    <option value="6">MENU DAY 6</option>
                    <option value="7">MENU DAY 7</option>
                </select>
                <button  title="Copy All" id="copy_all_button" class="btn btn-default btn-small" >
                    <span class="glyphicon glyphicon-floppy-disk">
                    <span class="glyphicon glyphicon-list-alt"></span>
                </button>
            </div>
            
        </div>
        <div class="col-xs-1">

        </div>
        <div class="col-xs-1">
            <button  title="Open Recipes" id="copy_all_button " class="btn btn-default btn-small" >
                <span class="glyphicon glyphicon-file">
            </button>
        </div>
    </div>

</div>


</br>
<% } %>


<% if(!menu_plan_model.is_submitted) { %>
<div class="add_recipe_container add_area">
    <div class="add_recipe">click to add new recipe</div>
</div>
<% } %>



<div style="width:auto;" id="recipes_list_container"></div>

<div class="row">&nbsp;</div>

<div id="comments_wrapper"></div>



