<div class="page-header">
    <form>
        <div class="row-fluid">
            <div class="col-md-5">
                <div class="form-inline">
                    <label>MENU NAME</label>
                    <%
                      if(is_submitted == false) {
                    %>
                        <input class="required input-large" type="text"  name="name"  id="menu_name" value="<%= name %>" style="width:250px;">
                    <% } else { %>
                    <b><%= name.toUpperCase() %></b>
                    <% } %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-inline">
                    <label>MENU DATE</label>
                    <%
                      if(is_submitted == false) {
                    %>
                        <input  type="text" name="start_date" id="start_date" value="<%= start_date %>"  class="required input-medium"/>
                    <% } else { %>
                        <%= moment(start_date, "YYYY-MM-DD HH:mm:ss").format("ddd, D MMM  YY")  %>
                    <% } %>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pull-right">
                    <%
                      if(parseInt(id) && is_submitted == false) {
                    %>
                        <button  title="Submit" id="submit_menu_plan"  type="button" class="btn btn-default">
                            <span  class="glyphicon glyphicon-thumbs-up"> </span>
                        </button>
                    <% } %>

                    <%
                      if((app.options.is_backend && status == '5') || is_submitted == false) {
                    %>
                        <%
                        if(parseInt(id)) {
                        %>
                            <button  title="Save" id="save_menu_plan"  type="button" class="btn btn-success">
                                <span  class="glyphicon glyphicon-saved"> </span>
                            </button>
                        <% } else { %>
                            <button  title="Next" id="save_menu_plan"  type="button" class="btn btn-success">
                                <span  class="glyphicon glyphicon-circle-arrow-right"> </span>
                            </button>
                        <% } %>
                    <% } %>

                    <button  title="Close" id="close_menu_plan"  type="button" class="btn btn-warning">
                        <span  class="glyphicon glyphicon-remove"> </span>
                    </button>

                    <%
                      if((app.options.is_backend && status == '5') || (parseInt(id) && is_submitted == false)) {
                    %>
                        <button  title="Delete" id="delete_menu_plan"  type="button" class="btn btn-danger">
                            <span  class="glyphicon glyphicon-trash"> </span>
                        </button>
                    <% } %>

                </div>
            </div>
        </div>
    </form>
</div>
