<%
var image;
if(!item.image || item.image == 'images/Recipe_Images/'){
    image = app.options.default_image;
} else {
    image  = app.options.base_url + item.image
}
var background_image = 'url(' + "'" + image  + "')" ;

%>
<tr data-id="<%= item.id %>"  class="item_row">
    <td width="100" style="text-align:center; vertical-align:top;">
        <div class="recipe_database_image" style="height: 90px; width: 100px;display: inline-block;background-image: <%= background_image %>"></div>
    </td>
    <td>
        <a title="View Details" style="cursor: pointer;" data-id="<%= item.id %>"  class="view " onclick="javascript:void(0)"><%= item.recipe_name %></a>
    </td>
    
    <td>
        <span>
            <%
            if(item.recipe_types_names) {
                _.each(item.recipe_types_names.split(','), function(item){ %>
                    <%= item + "<br/>" %>
                <% })
            } else { %> 
                <%= '-' %>
            <% } %>
        </span>
    </td>
    
    <td>
        <span>
            <%
            if(item.recipe_variations_names) {
                _.each(item.recipe_variations_names.split(','), function(item){ %>
                    <%= item + "<br/>" %>
                <% })
            } else { %> 
                <%= '-' %>
            <% } %>
        </span>
    </td>
    <td>
        <span>
             <%= item.author %>
        </span>
    </td>
    
    <td >
        <%= moment(item.created,"YYYY-MM-DD HH:mm:ss").format("ddd, D MMM  YY")  %>
    </td>
    
    <td>
        <%= item.calories || '0.00' %>
    </td>
    <td>
        <%= item.energy || '0.00' %>
    </td>
    <td>
        <%= item.protein || '0.00' %>
    </td>
    <td>
        <%= item.fats || '0.00' %>
    </td>
    <td>
        <%= item.saturated_fat || '0.00' %>
    </td>
    <td>
        <%= item.carbs || '0.00' %>
    </td>
    <td>
        <%= item.total_sugars || '0.00' %>
    </td>
    <td>
        <%= item.sodium || '0.00' %>
    </td>
    
    <td id="status_button_place_<%= item.id %>"  ></td>
    
    <td>
        <% if(item.state != '-2') { %>
            <a title="View/Edit"  class="view " ><span  data-id="<%= item.id %>"  class="glyphicon glyphicon-file"></span></a>
        <% } else {
            if(item.edit_allowed) {
                %>
                <a title="Restore"  class="restore "><span  data-id="<%= item.id %>"  class="restore_icon"></span></a>
                <%
            }
        } %>
    </td>
    
    <td>
        <a title="Copy" class="copy_item " ><span  data-id="<%= item.id %>"  class="glyphicon glyphicon-floppy-disk"></span></a>
    </td>
    
    <td>
        <% if(item.edit_allowed) { %>
            <% if(item.state != '-2') { %>
                <a class="trash" ><span title="Trash" data-id="<%= item.id %>" class="glyphicon glyphicon-trash"></span></a>
            <% } else { %>
                <a class="delete" ><span title="Delete" data-id="<%= item.id %>" class="glyphicon glyphicon-trash"></span></a>
            <% } %>
        <% } %>
    </td>
    
    <td>
    <%
        var icon_class = 'glyphicon glyphicon-remove-circle';
        var publish_title = 'Publish'; 
        if(parseInt(item.state) == '1') {
            icon_class = 'glyphicon glyphicon-ok-circle';
            publish_title = 'Unpublish'; 
        }
        %>
        <% if(item.edit_allowed) { %>
            <% if(item.state != '-2') { %>
            <a title="<%= publish_title %>"  class="publish"   ><span data-id="<%= item.id %>" data-state="<%= item.state %>" class="<%= icon_class %>"></span></a>
            <% } %>
        <% } %>
    </td>
    
    <td class="center">
        <% if(item.edit_allowed) { %>
            <input data-id="<%= item.id %>" data-state="<%= item.state %>" class="trash_checkbox" type="checkbox"/>
        <% } %>
    </td>
</tr>