<div class="row-fluid">
    <div style="width:200px;float:left;" id="recipe_type_wrapper"></div>
    <div style="width:200px;float:left;margin-left: 10px;"  id="recipe_variation_wrapper"></div>
</div>

<div class="row-fluid">
    <div class=" pull-right">
        <button  title="Add New" id="add_item"  type="button" class="btn btn-success">
            <span  class="glyphicon glyphicon-plus"> </span>
        </button>
        
        <button  title="Copy Selected" id="copy_selected"  type="button" class="btn btn-default">
            <span  class="glyphicon glyphicon-floppy-disk"> </span>
        </button>
        
        <button  title="Publish" id="publish_selected"  type="button" class="btn btn-info">
            <span  class="glyphicon glyphicon-ok-circle"> </span>
        </button>
        
        <button  title="Unpublish" id="unpublish_selected"  type="button" class="btn btn-warning">
            <span  class="glyphicon glyphicon-remove-circle"> </span>
        </button>
        
        <button  title="Trash/Delete" id="trash_delete_selected"  type="button" class="btn btn-danger">
            <span  class="glyphicon glyphicon-trash"> </span>
        </button>
    </div>
</div>

<div class="row">&nbsp;</div>


<div  class="row-fluid form-inline" role="form">
    <input id="recipe_name" size="20" type="text" placeholder="Recipe Name" >
    <input id="created_by_name" size="20" type="text" placeholder="Author Name" >
    
    <input id="date_from" size="10" type="text" placeholder="Date From" class="input-medium" >
    <input id="date_to" size="10" type="text" placeholder="Date To" class="input-medium" >
    
    <div class="btn-group">
        <button id="search" type="button" class="btn" title="Search"><i class="icon-search"></i></button>
        <button id="clear_all" type="button" class="btn" title="Clear All"><i class="icon-remove"></i></button>
    </div>
    
    <div style="display: inline-block;" id="business_profile_select"></div>

    <div style="display: inline-block;" id="status_wrapper"></div>
    
    <div style="display: inline-block;" id="state_wrapper"></div>
    
</div>
    