<div class="row-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading ">
            <% if(head_title) { %>
            <b><%= head_title %></b>
            <% } %>
        </div>
        <div class="panel-body nopaddingbottom nopaddingtop">
            <div class="pull-right" style="margin-bottom: 5px;">
                <a id="whole" href="javascript:void(0)">[Whole Period]</a>
                <a  id="by_year_previous" href="javascript:void(0)">[Previous Year]</a>
                <a  id="by_year" href="javascript:void(0)">[Current Year]</a>
                <a  id="by_year_next" href="javascript:void(0)">[Next Year]</a>
                <a  id="by_month" href="javascript:void(0)">[Current Month]</a>
            </div>

            <div class="row">&nbsp;</div>

            <div class="row-fluid">
                <div class="col-md-2">
                    <div id="choices" style="font-size: 11px;display:none;"></div>
                </div>

                <div class="col-md-10">
                    <div class="graph-container" style="width:710px;">
                        <div id="placeholder" class="graph-placeholder"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
