<div class="row-fluid form-inline" role="form" style="padding:2px;border: 1px dashed #ccc;width:100%;margin-bottom: 5px;min-height: 100px;">
    
    <input data-business_profile_id="<%= id %>" type="checkbox" class="bisiness_profile_item">

    <b><%= name %></b>

    <label>Show in Public Database:</label>

    <select data-business_profile_id="<%= id %>" class="show_public_database input-medium" size="1" name="show_public_database">
        <option value="1">All Users</option>
        <option value="0">None</option>
    </select>

    <label>Show on My Exercises List:</label>

    <select data-business_profile_id="<%= id %>"  class="show_my_exercise input-medium" size="1" name="show_my_exercise">
        <option value="0">None</option>
        <option value="1">All Users</option>
        <option value="2">Only Selected Users</option>
    </select>


    <hr style="margin-top: 2px;padding-top: 0;">
    
    <div class="business_clients_wrapper"></div>
</div>






