<div class="form-horizontal">
    <div class="form-group">
        <label for="exercise_name" class="col-xs-4">Exercise Name</label>
        <div class="col-xs-8">
            <% if(edit_allowed) { %>
                <input id="exercise_name" size="60" type="text" title="" value="<%= exercise_name %>" name="exercise_name">
            <% } else { %>
                <input readonly id="exercise_name" size="60" type="text" title="" value="<%= exercise_name %>" name="exercise_name">
            <% } %>
        </div>
    </div>
    
    <div class="form-group">
        <label for="created" class=" col-xs-4">Created Date</label>
        <div class="col-xs-8" id="created">
            
            <% if (id) { %>
            <%
            var created = moment(created, "YYYY-MM-DD HH:mm:ss").format("dddd, D MMM  YYYY");      
            %>
            <%= created %>
            <% } %>
        </div>
    </div>
    
    <div class="form-group">
        <label  class=" col-xs-4">Status</label>
        <div class="col-xs-8" id="status_button_place_<%= id %>">
        </div>
    </div>
    
    <div class="form-group">
        <label for="assessed_by" class=" col-xs-4">Assessed By</label>
        <div class="col-xs-8" id="assessed_by">
            <%= assessed_by_name || '-' %>
        </div>
    </div>
    
    <% if(edit_allowed) { %>
        <div class="form-group">
            <label for="published" class=" col-xs-4">Published</label>
            <div class="col-xs-8" id="published">
                <select id="state" class="input-medium" size="1" name="state">
                    <%
                    var selected_published = '';
                    var selected_unpublished = 'selected="selected"';
                    if(state == '1') {
                    selected_published = 'selected="selected"';
                    selected_unpublished = '';
                    }

                    %>
                    <option <%= selected_published %> value="1">Published</option>
                    <option <%= selected_unpublished %>   value="0">Unpublished</option>
                </select>
            </div>
        </div>
    <% } %> 
</div>

