<div class="row">&nbsp;</div>


<div class="row-fluid ">
    <div class="col-md-4 nopaddingleft">
        <div class="panel panel-primary">
            <div class="panel-heading">Exercise Details</div>
            <div class="panel-body" id="exercise_details_wrapper">

            </div>
        </div>

        <div class="row">&nbsp;</div>

        <div class="panel panel-primary">
            <div class="panel-heading">Exercise Video</div>
            <div class="panel-body" id="exercise_video_wrapper">

            </div>
        </div>
    </div>

    <div class="col-md-8 nopaddingright">
        <div class="panel panel-primary">
            <div class="panel-heading">Exercise Options</div>
            <div class="panel-body" id="select_filter_wrapper">

            </div>
        </div>

        <div class="row">&nbsp;</div>

        <div class="panel panel-primary">
            <div class="panel-heading">Business Permissions</div>
            <div class="panel-body" id="permissions_wrapper">

            </div>
        </div>
        
        <div class="row">&nbsp;</div>
        
        <% if(item.id) { %>
            <div id="comments_wrapper"></div>
        <% } %>
    </div>
</div>
