<div class="row-fluid">
    <% if(current_page == 'list') { %>
    <div class=" pull-right">
        <% if(app.options.exercise_id) { %>
        <button  id="back_program" tilte="Go Back" type="button" class="btn btn-info">
            <span  class="glyphicon glyphicon-circle-arrow-left"> </span>
        </button>

        <button  id="add_selected_exercises" title="Add Selected Videos to Exercises"  type="button" class="btn btn-info">
            <span  class="glyphicon glyphicon-list"> </span>
        </button>
        <% } %>
        
        <button  title="New Exercise Video" id="add_item"  type="button" class="btn btn-success">
            <span  class="glyphicon glyphicon-plus"> </span>
        </button>
        
        <button  title="Trash Selected Items" id="trash_selected"  type="button" class="btn btn-warning">
            <span  class="glyphicon glyphicon-trash"> </span>
        </button>
    </div>
    <% } %>

    <% if(current_page == 'trash_list') { %>
    <div  class=" pull-right">
        <button  title="Delete Selected Items" id="delete_selected"   type="button" class="btn btn-danger">
            <span  class="glyphicon glyphicon-trash"> </span>
        </button>
    </div>
    <% } %>
</div>

<br/>

<div  class="row-fluid form-inline" role="form">
    <input placeholder="Exercise Name" id="exercise_name" size="20" type="text" class="form-control" >

    <input placeholder="Client Name(My Exercises List)" id="client_name" size="27" type="text" class="form-control" >

    <input placeholder="Author Name" id="created_by_name" size="20" type="text" class="form-control" >
    
    <div class="btn-group">
        <button id="search_by_name" type="button" class="btn" title="Search"><i class="icon-search"></i></button>
        <button id="clear_all" type="button" class="btn" title="Clear All"><i class="icon-remove"></i></button>
    </div>

    <div style="width:200px;display: inline-block;" id="business_profile_filter"></div>

    <select id="state_filter" class="input-medium" size="1" name="state">
        <%
        var selected_published = '';
        var selected_unpublished = 'selected="selected"';
        if(current_page == 'list') {
        selected_published = 'selected="selected"';
        selected_unpublished = '';
        }

        %>
        <option <%= selected_published %> value="1">Published</option>
        <option <%= selected_unpublished %>   value="0">Unpublished</option>
    </select>


</div>

