<%
var submitted = false;
if (item.submit_date && (item.submit_date != '0000-00-00 00:00:00')) {
    submitted = true;
}
var scored = false;
if(_.contains(['2', '3', '4'], status)) {
    scored = true;
}
%>

<div class="row-fluid">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">DIARY ENTRY DETAILS</div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label  class="col-xs-4">Date of Entry</label>
                        <div class="col-xs-8">
                            <%
                            var entry_date = moment(item.entry_date, "YYYY-MM-DD HH:mm:ss").format("dddd, D MMM  YYYY"); 
                            %>
                            <%= entry_date %> 
                             <input value="<%= item.entry_date %>" type="hidden" name="entry_date" id="entry_date"/>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label  class="col-xs-4">Date Created</label>
                        <div class="col-xs-8">
                            <%
                                var created = moment(item.created, "YYYY-MM-DD HH:mm:ss").format("dddd, D MMM  YYYY @ HH:mm");    
                            %>
                            <%= created || '-' %>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label  class="col-xs-4">Date Submitted</label>
                        <div class="col-xs-8">
                        <%
                            if (submitted) {
                                var submit_date = moment(item.submit_date, "YYYY-MM-DD HH:mm:ss").format("dddd, D MMM  YYYY @ HH:mm");    
                            } else {
                                submit_date = '-';
                            }
                        %>
                        <%= submit_date %>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label  class="col-xs-4">Assessed By</label>
                        <div class="col-xs-8">
                        <%=
                            item.assessed_by_name || '-'
                        %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">TRAINERS</div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label  class="col-xs-4">Client Name</label>
                        <div class="col-xs-8">
                            <%= item.client_name %>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label  class="col-xs-4">Primary Trainer</label>
                        <div class="col-xs-8">
                            <%= item.trainer_name %>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label  class="col-xs-4">Secondary Trainers</label>
                        <div class="col-xs-8">
                            <%
                            _.each(item.secondary_trainers, function(item, key){ %>
                                <%=  item + " <br/>" %>
                            <%
                            })
                            %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">GOALS & TRAINING FOCUS</div>
            <div class="panel-body">
                <div class="row-fluid">
                    <div class="col-md-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label  class="col-xs-4">Mini Goal</label>
                                <div class="col-xs-8">
                                    <%= active_plan_data.mini_goal_name %>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label  class="col-xs-4">Primary Goal</label>
                                <div class="col-xs-8">
                                    <%= active_plan_data.primary_goal_start_date %>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label  class="col-xs-4">Achieve By</label>
                                <div class="col-xs-8">
                                    <%= active_plan_data.primary_goal_deadline %>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label  class="col-xs-4">Status</label>
                                <div class="col-xs-8" id="primary_goal_status">
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label  class="col-xs-4">Goal Details</label>
                                <div class="col-xs-8">
                                    <%= active_plan_data.primary_goal_details %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label  class="col-xs-4">Primary Goal</label>
                                <div class="col-xs-8">
                                    <%= active_plan_data.primary_goal_name %>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label  class="col-xs-4">Start Date</label>
                                <div class="col-xs-8">
                                    <%= active_plan_data.mini_goal_start_date %>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label  class="col-xs-4">Achieve By</label>
                                <div class="col-xs-8">
                                    <%= active_plan_data.mini_goal_deadline %>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label  class="col-xs-4">Status</label>
                                <div class="col-xs-8" id="mini_goal_status">
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label  class="col-xs-4">Goal Details</label>
                                <div class="col-xs-8">
                                    <%= active_plan_data.mini_goal_details %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">NUTRITION FOCUS</div>
            <div class="panel-body">
                <table width="100%">
                <tr>
                    <td>
                        <table width="100%">
                            <tr>
                                <td width="130">
                                    Nutrition Focus
                                </td>
                                <td>
                                    <span>
                                        <%= item.nutrition_focus_name %>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <%= decodeURIComponent(active_plan_data.trainer_comments) %>
                                </td>
                            </tr>
                        </table> 
                    </td>
                    <td>
                        <table width="50%">
                            <tr>
                                <td>
                                    <%
                                    if(item.trainer_comments) {
                                    %>
                                    <label>Trainer Comments</label>
                                    <%
                                    }
                                    %>

                                </td>
                                <td>
                                    <%= item.trainer_comments %>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
    
 <div class="row-fluid">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">TODAYS TARGETS</div>
            <div class="panel-body" id="targets_wrapper">
                
            </div>
        </div>
    </div>
 </div>

 <div class="row-fluid">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">TODAYS MEAL ENTRIES</div>
            <div class="panel-body" id="meal_entries_wrapper">
                
            </div>
        </div>
    </div>
 </div>
    
<div class="row-fluid">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">TODAYS TOTALS</div>
            <div class="panel-body" id="totals_wrapper">
                
            </div>
        </div>
    </div>
</div>
