<div class="row-fluid">
    <div class="col-md-4">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-4">Recipe Name</label>
                <div class="col-xs-8">
                    <input maxlength="100" type="text" class="recipe_name input-medium"/>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-xs-4"># Of Serves</label>
                <div class="col-xs-8">
                    <input maxlength="3" type="text" class="number_serves input-mini"/>
                </div>
            </div>
            
            <button title="Save" class="btn btn-success btn-small save_as_recipe_save">
                <span class="glyphicon glyphicon-ok"></span>
            </button>

            <button title="Cancel" class="btn btn-danger btn-small  save_as_recipe_cancel">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>

    </div>
    
    <div class="col-md-4">
        <div style="width:200px;" class="recipe_type_wrapper"></div>
    </div>
    
    <div class="col-md-4">
        <div style="width:200px;" class="recipe_variations_wrapper"></div>
    </div>
</div>
